body {
  background-color: rgba(255, 0, 0, 0.609);
  color: rgba(2, 0, 128, 0.705);
  font-size: 24 px;
  background-image: url(images/background\ image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Rubik", sans-serif;
}
.main-header {
  color: rgba(230, 22, 202, 0.924);
  text-align: center;
  margin-top: 30px;
  margin: 60px auto;
  padding: 100px 150px;
  border: 5px solid blue;
  font-size: 100px;
}
.blog {
  text-align: center;
}
.first-blog {
  text-align: center;
  border: 10px rgb(9, 224, 153);
  padding: 50px 300px 10px 300px;
  margin: 60px auto;
  font-size: 24px;
  color: pink;
  border: 10px solid rgb(230, 10, 10);
  border-radius: 200px;
}

.second-blog {
  text-align: center;
  color: rgba(240, 113, 10, 0.801);
  font-size: 24px;
  padding: 50px 200px 10px 200px;
  border: solid black 10px;
  border-radius: 200px;
}

.third-blog {
  text-align: center;
  color: gold;
  font-size: 24px;
  border: solid blueviolet 10px;
  border-radius: 200px;
  padding: 50px 200px 10px 200px;
}

#Anime {
  width: 650px;
}
#Fnatic {
  width: 650px;
}
#Friends {
  width: 650px;
}
