body {
  background-color: rgba(255, 0, 0, 0.609);
  color: rgba(2, 0, 128, 0.705);
  font-size: 24 px;
  background-image: url(images/background\ image.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Rubik", sans-serif;
}
.main-header {
  color: rgba(230, 22, 202, 0.924);
  text-align: center;
  margin-top: 30px;
  margin: 60px auto;
  padding: 50px 60px;
  border: 5px solid blue;
  font-size: 100px;
}

.first-blog {
  text-align: center;
  border: 3px saddlebrown;
  padding: 50px 60px;
  margin: 60px auto;
  font-size: 50px;
  width: -50px;
  color: pink;
}
.second-blog {
  text-align: center;
  color: rgba(240, 113, 10, 0.801);
  font-size: 24px;
  margin-bottom: 50px;
}
.third-blog {
  text-align: center;
  color: gold;
  font-size: 24px;
  border: 5px solid rgb(243, 5, 5);
}
#Anime {
  width: 650px;
}
#Fnatic {
  width: 650px;
}
#Friends {
  width: 650px;
}
